@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-image: url(images/Moonlit\ Asteroid.jpg);
    background-size: 2560px;
}
main article {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: white;
    padding: 10px;
    margin: 10px 550px 30px 550px;
    
}
main article p img {
    overflow: auto;
}
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 75px;
    display: none;
}
footer {
    font-family: 'Nunito', sans-serif;
}
/* MOBILE S - MOBILE M */
@media screen and (min-width: 320px) and (max-width: 375px) {
    main article {
        font-family: 'Nunito', sans-serif;
        text-align: center;
        color: white;
        padding: 10px;
        margin: 10px;
    }
    .tutorial img {
        width: auto;
        height: 130px;
    }
    .typesofphotography img {
        width: auto;
        height: 120px;
    }
}
/* MOBILE L - TABLET */
@media screen and (min-width: 425px) and (max-width: 768px) {
    main article {
        font-family: 'Nunito', sans-serif;
        text-align: center;
        color: white;
        padding: 10px;
        margin: 10px;
    }
    .tutorial img {
        width: auto;
        height: 180px;
    }
    .typesofphotography img {
        width: auto;
        height: 180px;
    }
}
/* LAPTOP - LAPTOP L */
@media screen and (min-width: 1024px) and (max-width: 1440px){
    main article {
        font-family: 'Nunito', sans-serif;
        text-align: center;
        color: white;
        padding: 10px;
        margin: 10px 100px 30px 100px;
    }
}
/* LARGE SCREEN - 4K */
@media screen and (min-width: 2560px){
    main article {
        font-family: 'Nunito', sans-serif;
        text-align: center;
        color: white;
        padding: 10px;
        margin: 10px 1000px 400px 1000px;
    }
}